NEXT_PUBLIC_API_URL=https://api.d-box.tech
NEXT_PUBLIC_SSE_URL=https://sse.d-box.tech
NEXT_PUBLIC_SITE_URL=https://d-box.tech
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your-turnstile-site-key
NEXT_PUBLIC_GOOGLE_BASE_EMAIL=devbox@gmail.com
